<div style="position: relative; height: 30rem">
    <pre id="editor-{{ id }}"></pre>
</div>
<style type="text/css" media="screen">
    #editor-{{ id }} {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
<script>
    {
        let editor = ace.edit('editor-{{ id }}');
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/java");
        editor.session.setTabSize(4);
        editor.session.setUseSoftTabs(true);
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
        editor.resize();
        editor.setValue($("#input-{{ id }}").val())
        editor.session.on('change', function () {
            const val = editor.getSession().getValue();
            $("#input-{{ id }}").val(val);
        });
    }
</script>