{% extends 'base.html' %}
{% load static %}

{% block script %}
    <link rel="stylesheet" href="{% static 'highlight/9.18.1/styles/default.min.css' %}"/>
    <script src="{% static 'highlight/9.18.1/highlight.min.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="{% static 'dragula/dragula.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dragula/dragula.css' %}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML"></script>
{% endblock %}

{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Type</th>
            <th scope="col">Category</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Token&nbspValue</th>
        </tr>
        </thead>
        <tbody>
        <tr class="{% if question.is_solved %}table-success{% endif %}{% if question.is_wrong %}table-danger{% endif %}{% if question.is_partially_correct %}table-warning{% endif %}">
            <td>{{ question.pk }}</td>
            <td>{{ question.type_name | title }}</td>
            <td>{{ question.category }}</td>
            <td>{{ question.get_difficulty_display | safe }}</td>
            <td>{{ question.token_value | floatformat:0 }}</td>
        </tr>
        </tbody>
    </table>

    <div class="card">
        <div class="card-header"><h1>{{ question.title }}</h1></div>
        <div class="card-body">
            <div>{% autoescape off %}{{ question.get_rendered_text }}{% endautoescape %}</div>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-body">
            {% if question.is_allowed_to_submit %}
                {% block submit_form %}
                {% endblock %}
            {% else %}
                {% if user.is_authenticated %}
                    <p>Maximum number of submissions reached</p>
                {% else %}
                    <p>Please log in to submit</p>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <h2>My Past Submissions</h2>
    {% include 'past_submissions_snippet.html' %}

{% endblock %}