{% extends 'base_question_view.html' %}
{% load math %}
{% load static %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'ace/1.4.12/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ace/1.4.12/ext-language_tools.js' %}"></script>
{% endblock %}

{% block submit_form %}
    <div>
        <p>Submit the required files</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <ul class="nav nav-tabs" id="submission-tab" role="tablist">
                {% for filename in question.input_file_names %}
                    <li class="nav-item">
                        <a class="nav-link {% if not forloop.counter0 %}active{% endif %}"
                           id="{{ forloop.counter0 }}-tab"
                           data-toggle="tab"
                           href="#answer-{{ forloop.counter0 }}"
                           role="tab">
                            {{ filename }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for filename in question.input_file_names %}
                    <div class="tab-pane {% if not forloop.counter0 %}active{% endif %}"
                         id="answer-{{ forloop.counter0 }}" role="tabpanel"
                         aria-labelledby="{{ forloop.counter0 }}-tab">
                        <div>{{ filename }}</div>
                        <div class="form-group">
                            <div style="position: relative; height: 30rem">
                                <pre id="editor-{{ forloop.counter0 }}"></pre>
                            </div>
                            <input type="hidden" id="input-{{ forloop.counter0 }}" name="{{ filename }}"
                                   class="form-control"/>
                        </div>
                        <style type="text/css" media="screen">
                            #editor-{{ forloop.counter0 }} {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                            }
                        </style>
                        <script>
                            {
                                let editor = ace.edit('editor-{{ forloop.counter0 }}');
                                editor.setTheme("ace/theme/monokai");
                                editor.session.setMode("ace/mode/java");
                                editor.session.setTabSize(4);
                                editor.session.setUseSoftTabs(true);
                                editor.setOptions({
                                    enableBasicAutocompletion: true,
                                    enableSnippets: true,
                                    enableLiveAutocompletion: true
                                });
                                editor.resize();
                                editor.session.on('change', function () {
                                    const val = editor.getSession().getValue();
                                    $("#input-{{ forloop.counter0 }}").val(val);
                                });
                            }
                        </script>
                    </div>
                {% endfor %}
            </div>

            <div class="form-group row ml-0">
                <button type="submit" class="btn btn-success"> Submit</button>
            </div>
        </form>
    </div>

{% endblock %}