{% extends 'base_question_view.html' %}


{% block submit_form %}
    <form method="post">
        {% csrf_token %}
        {% for key, text in uqj.get_rendered_choices.items %}
            <div class="form-group">
                <input type="radio" id="answer-{{ key }}" name="answer" value="{{ key }}">
                <label for="answer-{{ key }}">{% autoescape off %}{{ text }}{% endautoescape %}</label>
            </div>
        {% endfor %}
        {% if uqj.is_allowed_to_submit %}
            <div class="form-group row ml-0">
                <button type="submit" class="btn btn-success"> Submit</button>
            </div>
        {% endif %}
    </form>

{% endblock %}