{% extends 'base.html' %}

{% load static %}

{% block script %}
    <link rel="stylesheet" href="{% static 'highlight/9.18.1/styles/default.min.css' %}"/>
    <script src="{% static 'highlight/9.18.1/highlight.min.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}

    <h1>Submission Detail</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                Question
            </th>
            <th>
                Time Submitted
            </th>
            <th>
                Grade
            </th>
            <th>
                Status
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{ submission.question.title }}
            </td>
            <td>
                {{ submission.submission_time }}
            </td>
            <td>
                {{ submission.grade }}
            </td>
            <td>
                {{ submission.status }}
            </td>
        </tr>
        </tbody>
    </table>

    <h2> Code </h2>
    <pre>
        <code class="language-java">{{ submission.code }}</code>
    </pre>
    <h2>Test Cases</h2>
    <div class="accordion" id="accordionTestCase">
        {% for result in submission.results %}
            <div class="card">
                <div class="card-header" id="heading{{ forloop.counter }}">
                    <h2 class="mb-0">
                        <button class="btn btn-info" type="button" data-toggle="collapse"
                                data-target="#collapse{{ forloop.counter }}"
                                aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                            Test Case {{ forloop.counter }}
                        </button>
                    </h2>
                </div>

                <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}"
                     data-parent="#accordionTestCase">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr class="{% if result.status.id == 3 %}table-success{% else %}table-danger{% endif %}">
                                <td>
                                    Status
                                </td>
                                <td>
                                    {{ result.status.description | safe }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Standard Output
                                </td>
                                <td>
                                <pre>
                                    {{ submission.get_decoded_stdout | safe }}
                                </pre>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Standard Error
                                </td>
                                <td>
                                    {{ result.stderr | safe }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Compile Output
                                </td>
                                <td>
                                    {{ submission.get_decoded_compile_output | safe }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Time
                                </td>
                                <td>
                                    {{ result.time | safe }}s
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Message
                                </td>
                                <td>
                                    {{ result.message | safe }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}