{% extends 'base_question_view.html' %}


{% block submit_form %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Lines</h5>
                <div class="left-container">
                    {% for line in question.get_lines %}
                        <div class="container-object">{{ line }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <h5>Your Solution</h5>
                <div class="right-container">

                </div>
            </div>
        </div>
    </div>
    <script>
        drake = dragula([$(".left-container")[0], $('.right-container')[0]])
            .on('drop', function (e1, target, source, sibling) {
                calculate_source_code();
            })

        function calculate_source_code() {
            let code = $('.right-container').children().text();
            $('#source_code').val(code);
        }
    </script>
    <div class="my-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="hidden" id="source_code" name="code" class="form-control">

            <div class="form-group my-3">
                <button type="submit" class="btn btn-success"> Submit</button>
            </div>
        </form>
    </div>

{% endblock %}