{% load arrays %}
{% load course %}

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        {% if submission_class.show_answer %}
            <th scope="col">Answer</th>
        {% endif %}
        {% if not event.is_exam_and_open %}
            <th scope="col">Grade</th>
        {% endif %}
        {% if not event.is_exam_and_open %}
            <th scope="col">Tokens Received</th>
        {% endif %}
        <th scope="col">Time&nbspSubmitted</th>
        {% if not event.is_exam_and_open %}
            <th scope="col">Status</th>
        {% endif %}
        {% if submission_class.show_detail %}
            <th scope="col">Details</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for submission in submissions reversed %}
        {% row_class submission event as row_class_name %}
        <tr class={{ row_class_name }}>
            <th scope="row">{{ forloop.revcounter }}</th>
            {% if submission_class.show_answer %}
                <td>{{ submission.answer_display }}</td>
            {% endif %}
            {% if not event.is_exam_and_open %}
                <td>{{ submission.grade | floatformat:2 }}</td>
            {% endif %}
            {% if not event.is_exam_and_open %}
                <td>{{ submission.formatted_tokens_received }}</td>
            {% endif %}
            <td>{{ submission.submission_time }}</td>
            {% if not event.is_exam_and_open %}
                <td>{{ submission.status }}</td>
            {% endif %}
            {% if submission_class.show_detail %}
                <td>
                    <button class="btn btn-info"
                            onclick="window.location.href='{% url 'course:submission_detail' submission.pk %}'">Details
                    </button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>