{% extends 'base.html' %}

{% load static %}
{% load math %}

{% block title %}Problem Set{% endblock %}

{% block header %}
    Problem Set
{% endblock %}


{% block content %}

    <form method="get">
        <div class="form-row">
            <div class="form-group col-5">
                {{ form.query.label_tag }}
                {{ form.query }}
            </div>
            <div class="form-group col-2">
                {{ form.difficulty.label_tag }}
                {{ form.difficulty }}
            </div>
            <div class="form-group col-2">
                {{ form.category.label_tag }}
                {{ form.category }}
            </div>
            <div class="form-group col-2">
                {{ form.solved.label_tag }}
                {{ form.solved }}
            </div>
            <div class="form-group col-1 mt-auto">
                <button type="submit" class="btn btn-primary float-right">Go</button>
            </div>
        </div>
    </form>

    <table class="table table-hover"
           data-toggle="table"
    >
        <thead>
        <tr>
            <th scope="col" data-sortable="true">#</th>
            {% if user.is_teacher %}
                <th scope="col" data-sortable="true">Question Name</th>
                <th scope="col" data-sortable="true">
                    Author
                </th>
            {% endif %}
            <th scope="col" data-sortable="true">Type</th>
            <th scope="col" data-sortable="true">Category</th>
            <th scope="col" data-sortable="true">Sub&nbsp;Category</th>
            <th scope="col" data-sortable="true">Difficulty</th>
            <th scope="col" data-sortable="true">Token&nbsp;Value</th>
            <th scope="col" data-sortable="true">Status</th>
            {% if user.is_teacher %}
                <th scope="col" data-sortable="true">Avg&nbsp;Success</th>
            {% endif %}
            <th scope="col" data-sortable="true">Num&nbsp;Attempts</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for uqj in uqjs %}
            <tr class="{{ uqj.status_class }}">
                <th scope="row">{{ uqj.question.pk }}</th>
                {% if user.is_teacher %}
                    <td>{{ uqj.question.title }}</td>
                    <td>{{ uqj.question.author }}</td>
                {% endif %}
                <td>{{ uqj.question.event }}</td>
                <td>{{ uqj.question.category.parent }}</td>
                <td>{{ uqj.question.category.name }}</td>
                <td>{{ uqj.question.get_difficulty_display | safe }}</td>
                <td>{{ uqj.question.token_value | floatformat:0 }}</td>
                <td>
                    {{ uqj.status }}
                </td>
                {% if user.is_teacher %}
                    <td>
                        {{ uqj.question.success_rate | to_percentage }}
                    </td>
                {% endif %}
                <td>
                    {{ uqj.num_attempts }}
                </td>
                <td>
                    {% if user.is_teacher %}
                        <div style="white-space: nowrap; display: flex">
                            <div class="action-icon" style="background-color: #0e84b5; border-radius: 10px 0 0 10px">
                                <a href="{% url 'course:question_view' uqj.question.pk %}">
                                    <i class="fa fa-search"
                                       style="color: white"></i>
                                </a>
                            </div>
                            <div class="action-icon" style="background-color: antiquewhite">
                                <a href="{% url 'course:question_edit' uqj.question.pk %}">
                                    <i class="fa fa-pencil-alt" style="color: black"></i>
                                </a>
                            </div>
                            <div class="action-icon" style="background-color: red; border-radius: 0 10px 10px 0">
                                <a href="{% url 'course:question_delete' uqj.question.pk %}">
                                    <i class="fa fa-trash-alt" style="color: white"></i>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'course:question_view' uqj.question.pk %}" class="btn btn-primary">Open</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}