{% extends 'base.html' %}

{% block title %}Problem set{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Open</th>
        </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
                <tr class="{% if problem.is_solved %}table-success{% endif %}{% if problem.is_wrong %}table-danger{% endif %}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="w-75">{{ problem.title }}</td>
                    <td>
                        {% if problem.is_solved %}Solved{% endif %}
                        {% if problem.no_submission %}Unopened{% endif %}
                        {% if problem.is_wrong %}Wrong{% endif %}
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="window.location.href='{% url 'course:question_view' problem.pk %}'">Open</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}