{% extends 'base.html' %}

{% block title %}Problem set{% endblock %}

{% block content %}

    <form method="get">
        <div class="form-row">
            <div class="form-group col-5">
                {{ form.query.label_tag }}
                {{ form.query }}
            </div>
            <div class="form-group col-2">
                {{ form.difficulty.label_tag }}
                {{ form.difficulty }}
            </div>
            <div class="form-group col-2">
                {{ form.category.label_tag }}
                {{ form.category }}
            </div>
            <div class="form-group col-2">
                {{ form.solved.label_tag }}
                {{ form.solved }}
            </div>
            <div class="form-group col-1 mt-auto">
                <button type="submit" class="btn btn-primary float-right">Filter</button>
            </div>
        </div>
    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Token&nbsp;Value</th>
            <th scope="col">Status</th>
            <th scope="col">Open</th>
        </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
                <tr class="{% if problem.is_solved %}table-success{% endif %}{% if problem.is_wrong %}table-danger{% endif %}{% if problem.is_partially_correct %}table-warning{% endif %}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td class="col">{{ problem.title }}</td>
                    <td>{{ problem.category }}</td>
                    <td>{{ problem.difficulty | safe }}</td>
                    <td>{{ problem.token_value }}</td>
                    <td>
                        {% if problem.is_solved %}Solved{% endif %}
                        {% if problem.no_submission %}Unopened{% endif %}
                        {% if problem.is_partially_correct %}Partially Correct{% endif %}
                        {% if problem.is_wrong %}Wrong{% endif %}
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="window.location.href='{% url 'course:question_view' problem.pk %}'">Open</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}