{% extends 'base.html' %}
{% load static %}

{% block header %}
    New Problem
{% endblock %}

{% block media %}
    {{ form.media }}
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}

{% block content %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {% if field.name != 'distractor_count' %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ field.label_tag }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ error }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                        <div class="col-md-6">
                            {% autoescape off %}
                                <pre>
                            {{ field.help_text }}
                            </pre>
                            {% endautoescape %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        {% if correct_answer_formset %}
            <h2>Correct Answer(s)</h2>
            {% include 'choices_formset_snippet.html' with formset=correct_answer_formset %}
        {% endif %}

        {% if distractor_answer_formset %}
            <h2>Distractor Answer(s)</h2>
            <h5>How many distractor answers to show</h5>
            {% for x in form.distractor_count %}
                <div class="form-check-inline">
                    {{ x }}
                </div>
            {% endfor %}
            {% include 'choices_formset_snippet.html' with formset=distractor_answer_formset %}
        {% endif %}

        <input class="btn btn-success mb-3" type="submit" value="Submit">
    </form>
{% endblock %}