{% if doc_url %}
    <a href="{{ doc_url }}">See documentation</a>
{% endif %}
<div id='{{ widget.name }}_json_editor'></div>

<textarea hidden readonly name="{{ widget.name }}" {% include 'django/forms/widgets/attrs.html' %}>
  {% if widget.value %}{{ widget.value }}{% endif %}
</textarea>

<script type="text/javascript">
    {
        const textarea = document.getElementById('{{ widget.attrs.id }}');
        const editor = new JSONEditor(document.getElementById('{{ widget.name }}_json_editor'), {
            'schema': {% autoescape off %}{{ schema }}{% endautoescape %},
            'theme': 'bootstrap4',
            'no_additional_properties': true,
            'disable_properties': true,
            'disable_collapse': true,
            'disable_array_reorder': true,
            'disable_array_delete_all_rows': true,
            'disable_array_delete_last_row': true,
            'disable_edit_json': true,
            'remove_empty_properties': true,
            'object_layout': 'grid',
            'compact': true
        });

        editor.on('change', () => {
            textarea.innerText = JSON.stringify(editor.getValue());
        })

        try {
            editor.setValue(JSON.parse(textarea.innerText));
        } catch (SyntaxError) {
            console.log("Invalid initial");
        }
    }

</script>
