<div id='{{ widget.name }}_json_editor'></div>

<textarea hidden readonly name="{{ widget.name }}" {% include 'django/forms/widgets/attrs.html' %}>
  {% if widget.value %}{{ widget.value }}{% endif %}
</textarea>

<script type="text/javascript">
    const element = document.getElementById('{{ widget.name }}_json_editor');
    const textarea = document.getElementById('{{ widget.attrs.id }}');
    // Initialize the editor with a JSON schema
    var editor = new JSONEditor(element, {
        'schema': {% autoescape off %}{{ schema }}{% endautoescape %},
        'theme': 'bootstrap4',
    });

    editor.setValue(JSON.parse(textarea.innerText));

    editor.on('change', () => {
        textarea.innerText = JSON.stringify(editor.getValue());
    })
</script>
