beautifulsoup4==4.15.0
black==26.5.1
dj-database-url==3.1.2
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==26.1
django-polymorphic==4.11.7
Django==6.0.7
djangorestframework-csv==3.0.2
djangorestframework-queryfields==1.1.0
djangorestframework==3.17.1
gunicorn==26.0.0
inflection==0.5.1
ipython==9.16.1
psycopg[binary]==3.3.4
PyJWT==2.13.0
pyyaml==6.0.3
requests==2.34.2
sentry-sdk==2.66.1
sphinx==9.1.0
uritemplate==4.2.0
whitenoise==6.12.0
