{% extends 'base.html' %}

{% block header %}
    Course Registration
{% endblock %}

{% block content %}
    <div>
        <h6>Please enter your name exactly as it appears on Canvas:</h6>
    </div>
    <form class="form-inline" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="sr-only" for="name">Name</label>
            <input class="form-control" id="name" type="text" name="name" placeholder="John Smith" value="{{ name }}">
            <button type="submit" class="btn btn-primary ml-2">Submit</button>
        </div>
    </form>
    <a href="{% url 'canvas:course_list' %}" class="btn btn-primary my-3">Back</a>
{% endblock %}