{% extends 'base.html' %}
{% load static %}

{% block header %}
    {{ course.name }}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'canvas/js/token_use.js' %}"></script>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">URL</th>
            <th scope="col">Canvas&nbsp;Course&nbsp;Name</th>
            <th scope="col">Start&nbsp;Date</th>
            <th scope="col">End&nbsp;Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ course.pk }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.url }}</td>
            <td>{{ course.canvas_course_name }}</td>
            <td>{{ course.start_date }}</td>
            <td>{{ course.end_date }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="problem-set-tab" data-toggle="tab" href="#problem-set" role="tab"
               aria-controls="problem-set" aria-selected="true">Questions</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab"
               aria-controls="events" aria-selected="true">Events</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tokens-tab" data-toggle="tab" href="#tokens" role="tab" aria-controls="tokens"
               aria-selected="false">Token Use</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="problem-set" role="tabpanel" aria-labelledby="problem-set-tab">
            <div class="m-3">
                {% include 'canvas/problem_set_snippet.html' %}
            </div>
        </div>
        <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
            <div class="m-3">
                {% include 'canvas/course_events_snippet.html' %}
            </div>
        </div>
        <div class="tab-pane fade" id="tokens" role="tabpanel" aria-labelledby="tokens-tab">
            <div class="m-3">
                {% include 'canvas/course_tokens_snippet.html' %}
            </div>
        </div>
    </div>

{% endblock %}