{% load static %}
<link href="{% static 'canvas/css/course.css' %}" rel="stylesheet">

<p>Available Tokens: <span id="available_tokens">{{ course_reg.available_tokens | floatformat:2 }}</span></p>
<p id="remaining_tokens_text">Remaining Tokens:
     <span id="remaining_tokens">{{ course_reg.available_tokens | floatformat:2 }}</span></p>

<table class="table table-hover" data-toggle="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Assignment&nbsp;Name</th>
        <th scope="col">Tokens&nbsp;Required</th>
        <th scope="col">Extra&nbsp;Grade&nbsp;Given</th>
        <th scope="col">Max&nbsp;Use</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for tup in course.token_use_options.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ tup.assignment_name }}</td>
            <td id="req_tokens_{{ forloop.counter0 }}">{{ tup.tokens_required }}</td>
            <td>{{ tup.points_given }}</td>
            <td>{{ tup.maximum_number_of_use }}</td>
            <td>
                <div style="white-space: nowrap; display: flex">
                    <div class="action-icon token-input-button-minus mr-2">
                        <span onclick="unuseTokensOption({{ forloop.counter0 }})">
                            <i class="fa fa-minus button-icon"></i>
                        </span>
                    </div>
                    <div style="display: inline-block">
                        <input class="no-spin-button token-input" id="use_tokens_input_{{ forloop.counter0 }}"
                               type="number" placeholder="0" type="number" max="{{ tup.maximum_number_of_use }}">
                    </div>
                    <div class="action-icon token-input-button-plus ml-2">
                        <span onclick="useTokensOption({{ forloop.counter0 }})">
                            <i class="fa fa-plus button-icon"></i>
                        </span>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<button class="my-1 btn btn-primary" id="submit_button">Confirm Changes</button>