<p>Available Tokens: {{ course_reg.available_tokens | floatformat:2 }}</p>

<table class="table table-hover" data-toggle="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Assignment&nbsp;Name</th>
        <th scope="col">Tokens&nbsp;Required</th>
        <th scope="col">Extra&nbsp;Grade&nbsp;Given</th>
        <th scope="col">Max&nbsp;Use</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for tup in course.token_use_options.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ tup.assignment_name }}</td>
            <td>{{ tup.tokens_required }}</td>
            <td>{{ tup.points_given }}</td>
            <td>{{ tup.maximum_number_of_use }}</td>
            <td>
                <div style="white-space: nowrap; display: flex">
                    <div class="action-icon" style="background-color: red; border-radius: 10px 0 0 10px">
                        <a href="">
                            <i class="fa fa-minus"
                               style="color: white"></i>
                        </a>
                    </div>
                    <div style="background-color: antiquewhite; display: inline-block">
                        <input class="no-spin-button" type="number" style="height: 100%;">
                    </div>
                    <div class="action-icon" style="background-color: green; border-radius: 0 10px 10px 0">
                        <a href="">
                            <i class="fa fa-plus" style="color: white"></i>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<button class="my-1 btn btn-primary">Confirm Changes</button>