{% extends 'base.html' %}
{% load static %}

{% block header %}
    {{ course.name }}
{% endblock %}

{% block script %}
    <script src="{% static 'canvas/js/registration.js' %}"></script>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">URL</th>
            <th scope="col">Canvas&nbsp;Course&nbsp;Name</th>
            <th scope="col">Start&nbsp;Date</th>
            <th scope="col">End&nbsp;Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ course.pk }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.url }}</td>
            <td>{{ course.canvas_course_name }}</td>
            <td>{{ course.start_date }}</td>
            <td>{{ course.end_date }}</td>
        </tr>
        </tbody>
    </table>

    <h2>Events</h2>
    {% if request.user.is_teacher %}
        <a class="btn btn-primary my-1">Add an Event</a>
        <a class="btn btn-primary my-1">Import an Event</a>
    {% endif %}
    <table class="table table-hover" data-toggle="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Start&nbsp;Date</th>
            <th scope="col">End&nbsp;Date</th>
            <th scope="col">Grade</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in course.events.all %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td></td>
                <td><a class="btn btn-primary" href="{% url 'canvas:event_problem_set' event.id %}">Open</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Use Tokens</h2>
    <p>Available Tokens: <span id="available_tokens">{{ course_reg.available_tokens | floatformat:2 }}</span></p>
    <p>Remaining Tokens: <span id="remaining_tokens"></span></p>

    <table class="table table-hover" data-toggle="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Assignment&nbsp;Name</th>
            <th scope="col">Tokens&nbsp;Required</th>
            <th scope="col">Extra&nbsp;Grade&nbsp;Given</th>
            <th scope="col">Max&nbsp;Use</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for tup in course.token_use_options.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ tup.assignment_name }}</td>
                <td>{{ tup.tokens_required }}</td>
                <td>{{ tup.points_given }}</td>
                <td>{{ tup.maximum_number_of_use }}</td>
                <td>
                    <div style="white-space: nowrap; display: flex">
                        <div class="action-icon" style="background-color: red; border-radius: 10px 0 0 10px">
                            <span onclick="unuseTokensOption({{ forloop.counter0 }})">
                                <i class="fa fa-minus"
                                   style="color: white"></i>
                            </span>
                        </div>
                        <div style="background-color: antiquewhite; display: inline-block">
                            <input class="no-spin-button token-input" id="use_tokens_input_{{ forloop.counter0 }}" type="number" max="{{ tup.maximum_number_of_use }}" value=0 style="height: 100%;">
                        </div>
                        <div class="action-icon" style="background-color: green; border-radius: 0 10px 10px 0">
                            <span onclick="useTokensOption({{ forloop.counter0 }})">
                                <i class="fa fa-plus" style="color: white"></i>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="my-1 btn btn-primary" id="submit_button">Confirm Changes</button>


{% endblock %}