{% load event_grade %}
{% load canvas %}

{% if request.user.is_teacher %}
    <a class="btn btn-primary my-1" href="{% url 'canvas:create_event' course.pk %}">Add an Event</a>
    <a class="btn btn-primary my-1" href="#">Import an Event</a>
{% endif %}
<table class="table table-hover" data-toggle="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Start&nbsp;Date</th>
        <th scope="col">End&nbsp;Date</th>
        <th scope="col">Grade</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for event in course.events.all %}
        <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.start_date }}</td>
            <td>{{ event.end_date }}</td>
            {% if event.is_exam_and_open %}
                <td>Not Available Yet</td>
            {% else %}
                <td>{{ event|total_event_grade:request.user }}</td>
            {% endif %}
            <td>
                {% is_allowed_to_open_event event request.user as allowed_to_open %}
                {% is_allowed_to_edit_event  event request.user as allowed_to_edit %}
                {% event_button_text event request.user as event_btn_text %}
                {% if allowed_to_open %}
                    <a class="btn btn-primary" href="{% url 'canvas:event_problem_set' event.id %}">{{ event_btn_text }}</a>
                {% else %}
                    <button class="btn btn-outline-info" disabled href="www.google.com">{{ event_btn_text }}</button>
                {% endif %}
                {% if allowed_to_edit %}
                    <a class="btn btn-primary" href="{% url 'canvas:edit-event' event.id %}">Edit</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>