{% if request.user.is_teacher %}
    <a class="btn btn-primary my-1" href="#">Add an Event</a>
    <a class="btn btn-primary my-1" href="#">Import an Event</a>
{% endif %}
<table class="table table-hover" data-toggle="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Start&nbsp;Date</th>
        <th scope="col">End&nbsp;Date</th>
        <th scope="col">Grade</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for event in course.events.all %}
        <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.start_date }}</td>
            <td>{{ event.end_date }}</td>
            <td></td>
            <td><a class="btn btn-primary" href="{% url 'canvas:event_problem_set' event.id %}">Open</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>