{% extends 'base.html' %}
{% load static %}

{% block script %}
    <script src="{% static 'canvas/js/create_event.js' %}"></script>
{% endblock %}

{% block header %}
    Create Event for {{ course.name }}
{% endblock %}

{% block content %}
    <form method="post" class="" style="align-content: left;">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.label %}
                    <h6 class="form-label">
                        {{ field.label_tag }}
                    </h6>
                {% endif %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <input class="btn btn-success mt-md-5" type="submit" value="Submit">
    </form>
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{% endblock %}