{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link href="{% static 'datetimepicker/2.5.21/css/jquery.datetimepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'datetimepicker/2.5.21/js/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'canvas/js/create_event.js' %}"></script>
{% endblock %}

{% block header %}
    {% if header %}
        {{ header }} Event for {{ event.course.name }}
    {% else %}
        Create Event for {{ course.name }}
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post" class="">
        {% csrf_token %}
        {% for field in form %}
            <div class="row mb-3">
                <div class="col-md-6">
                    {% if field.label %}
                        <h3 class="form-label">
                            {{ field.label_tag }}
                        </h3>
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <input class="btn btn-success mt-md-5" type="submit" value="Submit">
    </form>
{% endblock %}