{% load canvas %}

<table class="table table-hover" data-toggle="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
        <th scope="col">Sub&nbsp;Category</th>
        <th scope="col">Format</th>
        <th scope="col">
            {% tokens_column_name event as tokens_column_name %}
            {{ tokens_column_name }}
        </th>
        <th scope="col">Status</th>
        {% if not event.is_exam %}
            <th scope="col">Num&nbsp;Attempts</th>
        {% endif %}
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for key, uqj in uqjs.items %}
        {% row_class uqj event as row_class_name %}
        <tr class="{{ row_class_name }}">
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ uqj.question.category.parent }}</td>
            <td>{{ uqj.question.category.name }}</td>
            <td>{{ uqj.question.type_name }}</td>
            <td>{{ uqj.formatted_current_tokens_received }}</td>
             {% if event.is_exam %}
                {% exam_question_status event uqj as status %}
                <td>
                    {{ status }}
                </td>
            {% else %}
                <td>
                    {{ uqj.status }}
                </td>
            {% endif %}
            {% if not event.is_exam %}
                <td>
                    {{ uqj.num_attempts }} / {{ uqj.question.max_submission_allowed }}
                </td>
            {% endif %}
            <td>
                <a href="{% url 'course:question_view' pk=uqj.question.pk key=key %}" class="btn btn-primary">Open</a>
                {% if user.is_teacher %}
                    <a href="{% url 'course:question_edit' uqj.question.pk %}" class="btn btn-warning">Edit</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
