body {
    font-size: 0.9rem;
}

nav {
    height: 5em;
}

header {
    background: #EEEEEE;
    margin: 4.75em 0 0 0;
}

.main-content {
    margin: 2em 0 0 2.5%;
    width: 97.5%;
    line-height: 1.6;
}

.alert {
    width: 50%;
}

.font-weight-semibold {
    font-weight: 525;
}

label.required:before {
    color: red;
    content: "* ";
}

.no-text-wrap-table td {
    white-space: nowrap;
}

.action-icon {
    display: inline-block;
    width: 50px;
    font-size: 2rem;
    text-align: center;
    padding: 0;
}

.no-spin-button::-webkit-inner-spin-button,
.no-spin-button::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}