body {
    font-size: 0.9rem;
    font-weight: 525;
    font-family: Arial, serif;
}

nav {
    height: 5em;
}

header {
    background: #EEEEEE;
    margin: 5em 0 0 0;
    font-family: "Arial", serif;
}

label.required:before {
    color: red;
    content: "* ";
}

.no-text-wrap-table td {
    white-space: nowrap;
}

.action-icon {
    display: inline-block;
    width: 50px;
    font-size: 2rem;
    text-align: center;
    padding: 0;
}

.no-spin-button::-webkit-inner-spin-button,
.no-spin-button::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}