body {
    font-size: 0.9rem;
    font-family: Arial, serif;
}

nav {
    height: 5em;
}

header {
    background: #EEEEEE;
    margin: 5em 0 0 0;
    font-family: "Times New Roman", serif;
}

label.required:before {
    color: red;
    content: "* ";
}