{% extends 'accounts/base.html' %}

{% block title %}Your Account is Activated{% endblock %}

{% block form %}
    <div class="form-group">
        <h2>Your Account is Activated</h2>
    </div>
    <div class="form-group">
        <p>Thank you for your email confirmation. Your Account had bees successfully activated.</p>
        <p>Please complete your profile!</p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" id="menu-toggle"
                onclick="window.location='{% url 'accounts:profile' %}';">Complete Profile
        </button>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" id="menu-toggle"
                onclick="window.location='{% url 'homepage' %}';">Go Home
        </button>
    </div>
{% endblock %}