{% extends 'accounts/base.html' %}
{% load static %}

{% block form %}
    <h4 class="card-title">Login</h4>
    <form method="POST" class="my-login-validation" novalidate="">
        {% include 'accounts/form.html' %}

        <div class="form-group">
            <div class="custom-checkbox custom-control">
                <input type="checkbox" name="remember" id="remember"
                       class="custom-control-input">
                <label for="remember" class="custom-control-label">Remember Me</label>
            </div>
        </div>

        <div class="form-group m-0">
            <button type="submit" class="btn btn-primary btn-block">
                Login
            </button>
        </div>
        <div class="mt-4 text-center">
            Don't have an account? <a href="{% url 'accounts:signup' %}">Create One</a>
        </div>
    </form>
{% endblock %}
