{% extends 'accounts/base.html' %}

{% block title %}Change Password{% endblock %}

{% block form %}
    <h4 class="card-title">Change Password</h4>
    <form method="POST" class="my-login-validation" novalidate="">
        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}


        <div class="form-group">

            {% for error in form.old_password.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}

            <label for="id_old_password">Old Password</label>
            <input id="id_old_password" type="password" class="form-control" name="old_password" required
                   autofocus data-eye>
            <div class="invalid-feedback">
                What's your old password?
            </div>

            {% if form.old_password.help_text %}
                <div class="info alert-info alert">{{ form.old_password.help_text|safe }} </div>
            {% endif %}
        </div>


        <div class="form-group">

            {% for error in form.password1.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}

            <label for="id_new_password1">New Password</label>
            <input id="id_new_password1" type="password" class="form-control" name="new_password1"
                   required
                   data-eye>
            <div class="invalid-feedback">
                New Password is required
            </div>

            {% if form.new_password1.help_text %}
                <div class="info alert-info alert">{{ form.new_password1.help_text|safe }} </div>
            {% endif %}
        </div>

        <div class="form-group">

            {% for error in form.new_password2.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}

            <label for="id_new_password2">Password Confirmation</label>
            <input id="id_new_password2" type="password" class="form-control" name="new_password2"
                   required
                   data-eye>
            <div class="invalid-feedback">
                Password confirmation should be identical to your password
            </div>

            {% if form.new_password2.help_text %}
                <div class="info alert-info alert">{{ form.new_password2.help_text|safe }} </div>
            {% endif %}
        </div>

        <div class="form-group m-0">
            <button type="submit" class="btn btn-primary btn-block">
                Reset Password
            </button>
        </div>
    </form>
{% endblock %}