{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block script %}
    {{ block.super }}
    <script src="{% static 'accounts/js/profile.js' %}"></script>
{% endblock %}

{% block form %}
    <h4 class="card-title">Profile</h4>
    <form method="post" novalidate="">
        {% include 'accounts/form.html' %}

        <button type="submit" class="btn btn-primary my-1" id="menu-toggle">Update</button>
    </form>
    <button class="btn btn-outline-warning my-1" onclick="window.location='{% url 'accounts:password_change' %}';">
        Change
        Password
    </button>
    <hr>
    {% if consent %}
        <div class="my-1">You have consented to our Informed Consent Form, if you wish to withdraw please click on the
            button below
        </div>
        <button type="button" class="btn btn-warning" onclick="withdraw('{% url 'api:user_consent-detail' consent %}')">
            Withdraw Your Consent
        </button>
    {% else %}
        <div class="my-1">You have not consented to our Informed Consent Form, if you wish to consent please click on
            the button below
        </div>
        <a href="{% url 'accounts:consent' %}" type="submit" class="btn btn-primary">Consent</a>
    {% endif %}
{% endblock %}