{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block script %}
    <!-- reCaptcha JavaScript -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block form %}
    <h4 class="card-title">Register</h4>
    <form method="POST" class="my-login-validation" novalidate="">

        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}


        <div class="form-group">

            {% for error in form.username.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}

            <label for="id_username">Username</label>
            <input id="id_username" type="text" class="form-control" name="username" required
                   autofocus>
            <div class="invalid-feedback">
                What's your name?
            </div>

            {% if form.username.help_text %}
                <div class="info alert-info alert">{{ form.username.help_text|safe }} </div>
            {% endif %}
        </div>

        <div class="form-group">

            {% for error in form.email.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}

            <label for="id_email">E-Mail Address</label>
            <input id="id_email" type="email" class="form-control" name="email" required>
            <div class="invalid-feedback">
                Your email is invalid
            </div>

            {% if form.email.help_text %}
                <div class="info alert-info alert">{{ form.email.help_text|safe }} </div>
            {% endif %}
        </div>

        <div class="form-group">

            {% for error in form.password1.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}

            <label for="id_password1">Password</label>
            <input id="id_password1" type="password" class="form-control" name="password1"
                   required
                   data-eye>
            <div class="invalid-feedback">
                Password is required
            </div>

            {% if form.password1.help_text %}
                <div class="info alert-info alert">{{ form.password1.help_text|safe }} </div>
            {% endif %}
        </div>

        <div class="form-group">

            {% for error in form.password2.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}

            <label for="id_password2">Password Confirmation</label>
            <input id="id_password2" type="password" class="form-control" name="password2"
                   required
                   data-eye>
            <div class="invalid-feedback">
                Password confirmation should be identical to your password
            </div>

            {% if form.password2.help_text %}
                <div class="info alert-info alert">{{ form.password2.help_text|safe }} </div>
            {% endif %}
        </div>

        <div class="form-group">
            <div class="custom-checkbox custom-control">
                <input type="checkbox" name="agree" id="agree" class="custom-control-input"
                       required="">
                <label for="agree" class="custom-control-label">I agree to the <a href="#">Terms
                    and Conditions</a></label>
                <div class="invalid-feedback">
                    You must agree with our Terms and Conditions
                </div>
            </div>
        </div>

        <div class=" form-group g-recaptcha"
             data-sitekey="6LeEo8MUAAAAAOzXHyRF-Mq7O6MNvqUwIXsQbC_U"></div>

        <div class="form-group m-0">
            <button type="submit" class="btn btn-primary btn-block">
                Register
            </button>
        </div>
        <div class="mt-4 text-center">
            Already have an account? <a href="{% url 'accounts:login' %}">Login</a>
        </div>
    </form>
{% endblock %}