{% load token_format %}

{% if actions %}
    <div class="container-fluid">
        <table class="table table-bordered table-striped table-hover no-text-wrap-table">
            <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Token&nbsp;Change</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for action in actions %}
                <tr>
                    <td>{% autoescape off %}{{ action.description }}{% endautoescape %}</td>
                    <td>{{ action.token_change | token_change_format }}</td>
                    <td>{{ action.time_created }}</td>
                    <td>{{ action.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% else %}
    <p>No recent Actions</p>
{% endif %}