{% extends 'base.html' %}

{% load static %}

{% block script %}
    <link rel="stylesheet" href="{% static 'highlight/9.18.1/styles/default.min.css' %}"/>
    <script src="{% static 'highlight/9.18.1/highlight.min.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block header %}
    Frequently Asked Questions
{% endblock %}

{% block content %}

    <div class="accordion" id="accordionTestCase">
        {% for faq in faqs %}
            <div class="card">
                <div class="card-header" id="heading{{ forloop.counter }}">
                    <h2 class="mb-0" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}"
                        aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                        {{ faq.question | safe }}
                    </h2>
                </div>

                <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}"
                     data-parent="#accordionTestCase">
                    <div class="card-body">
                        {% autoescape off %}
                            {{ faq.answer }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}