{% extends 'base.html' %}
{% load static %}

{% block header %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="jumbotron">
                <h1 class="display-3" align="center">
                    Canvas Gamification
                </h1>
                <h4>What is this Gamification Website About?</h4>
                <p>
                    Some students have told us they wanted more practice questions, while at the same time, some
                    students protested about the heavy workload in the course. As a solution, we have developed this
                    Gamification website to provide practice questions for you. The great thing is that doing the
                    practice questions is completely optional. And, if you do the practice questions, you will earn
                    tokens. When you have collected enough tokens, you can trade them in for marks in the course! That
                    means, the more you practice here, the more you are able to make up for lost marks on assignments
                    and exams (based on pre-set rules).

                    We hope that this setup is flexible enough to accommodate those who want more practice with
                    programming, those who are willing to do extra work to improve their marks in the course, and those
                    who are simply happy with the way the course is.

                    As an added bonus, we have developed novel exercises that will hopefully entice young students like
                    yourselves. We have also dedicated a lot of time to incorporate different types of exercises and
                    question formats, tailored towards students at different skill levels. We hope to improve the
                    learning experience for all first year CS students.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-3">
                {% include 'recently_viewed_questions_snippet.html' %}
            </div>
            <div class="my-3">
                {% include 'general/recent_actions_snippet.html' %}
            </div>
        </div>
    </div>

{% endblock %}