{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Canvas Gamification</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'accounts/img/logo.jpg' %}">
    <link rel="stylesheet" href="{% static 'angular/styles.css' %}">
</head>
<body>
<app-root></app-root>
<script src="{% static 'angular/runtime.js' %}" type="module"></script>
<script src="{% static 'angular/polyfills.js' %}" type="module"></script>
<script src="{% static 'angular/main.js' %}" type="module"></script>

</body>
</body>
</html>
