{% load static %}

<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="#">What We Teach</a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded"
                     src="{% static 'main_page/icon/user.jpg' %}"
                     alt="User picture">
            </div>
            <div class="user-info">
                {% if user.has_name %}
                    <span class="user-name">
                            {{ user.first_name|safe }}
                            <strong>{{ user.last_name|safe }}</strong>
                        </span>
                {% elif user.is_authenticated %}
                    <span class="user-name">
                            {{ user.username|safe }}
                        </span>
                {% else %}
                    <span class="user-name">
                            New
                            <strong>User</strong>
                        </span>
                {% endif %}

                {% if user.is_staff %}
                    <span class="user-role">Administrator</span>
                {% elif user.is_authenticated %}
                    <span class="user-role">User</span>
                {% else %}
                    <span class="user-role"><a href="{% url 'accounts:login' %}">Login</a></span>
                {% endif %}
                <span class="user-status">
                        {% if user.is_authenticated %}
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        {% else %}
                            <i class="fa fa-circle" style="color: red"></i>
                            <span>Offline</span>
                        {% endif %}
                    </span>
            </div>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-search">
            <div>
                <div class="input-group">
                    <input type="text" class="form-control search-menu" placeholder="Search...">
                    <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="{% url 'homepage' %}">Home Page
                                    <span class="badge badge-pill badge-success">Pro</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-university"></i>
                        <span>University</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="{% url 'university:list_view' %}">Universities

                                </a>
                            </li>
                            <li>
                                <a href="{% url 'university:add' %}">Add a University</a>
                            </li>
                            <li>
                                <a href="{% url 'report:university' %}">Report a University</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-calculator"></i>
                        <span>Course</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="{% url 'course:list_view' %}">Courses</a>
                            </li>
                            <li>
                                <a href="{% url 'course:add' %}">Add a Course</a>
                            </li>
                            <li>
                                <a href="{% url 'report:course' %}">Report a Course</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-chart-line"></i>
                        <span>Charts</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="{% url 'charts:word_cloud' %}">Word Clouds</a>
                            </li>
                            <li>
                                <a href="{% url 'charts:charts' %}">Line chart</a>
                            </li>
                            <li>
                                <a href="{% url 'charts:charts' %}">Bar chart</a>
                            </li>
                            <li>
                                <a href="{% url 'charts:charts' %}">Histogram</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-book"></i>
                        <span>Account</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="{% url 'accounts:login' %}">Login</a>
                            </li>
                            <li>
                                <a href="{% url 'accounts:signup' %}">Sign Up</a>
                            </li>
                            <li>
                                <a href="{% url 'accounts:profile' %}">Profile</a>
                                {% if not user.has_complete_profile %}
                                    <span class="badge badge-pill badge-danger">Uncomplete Profile</span>
                                {% endif %}
                            </li>
                            <li>
                                <a href="{% url 'accounts:logout' %}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="header-menu">
                    <span>Extra</span>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-book"></i>
                        <span>Documentation</span>
                        <span class="badge badge-pill badge-primary">Beta</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-calendar"></i>
                        <span>Calendar</span>
                        <span class="badge badge-pill badge-warning">New</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder"></i>
                        <span>Examples</span>
                        <span class="badge badge-pill badge-danger">3</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
        <a href="{% url 'message:list_view' %}">
            <i class="fa fa-bell"></i>
            {% if user.new_messages_count > 0 %}
                <span class="badge badge-pill badge-warning notification">{{ user.new_messages_count }}</span>
            {% endif %}
        </a>
        <a href="{% url 'message:list_view' %}">
            <i class="fa fa-envelope"></i>
            {% if user.new_messages_count > 0 %}
                <span class="badge badge-pill badge-success notification">{{ user.new_messages_count }}</span>
            {% endif %}
        </a>
        <a href="{% url 'accounts:profile' %}">
            <i class="fa fa-cog"></i>
        </a>
        <a href="{% url 'accounts:logout' %}">
            <i class="fa fa-power-off"></i>
            {% if user.is_authenticated %}
                <span class="badge-sonar"></span>
            {% endif %}
        </a>
    </div>
</nav>
<!-- sidebar-wrapper  -->