<h5>Introduction</h5>
<p>
    You are invited to participate in a study that involves the development of an educational software.
    As a participant in this study, we are asking that you provide us information to be used in developing and improving
    this software.
</p>
<p>
    This consent form contains information about the study and is intended to help you decide whether you wish to
    participate in it.
    You may refuse to participate. You should be aware that even after you have given your consent, you are free to
    withdraw at any time.
    If you choose not to participate or withdraw at a later time, it will not affect your relationship with this
    department or any of the parties involved in the study or the University of British Columbia.
    If you have any questions about this study before, during, or after the study, please feel free to direct them to:
</p>
<p>
    Dr. Bowen Hui (bowen.hui@ubc.ca)
</p>

<h5>Study Objectives</h5>
<p>The objective of this research is to develop educational software that helps students with their programming
    work. </p>

<h5>Procedure (Total Expected Time: Up to 0.5 hour)</h5>
<p>
<ol>
    <li>As part of the course, you will work on assignments and submit them as usual. Nothing will change from standard
        course procedures.
    </li>
    <li>After your work is submitted and graded, we will anonymize the submission and collect the data. You do not have
        to do anything.
    </li>
</ol>
</p>

<h5>Risks</h5>
<p>There are no known risks to participants as no added work is required in the participation of this study.</p>

<h5>Benefits</h5>
<p>The participants may gain a better understanding of the research process involved.</p>

<h5>Privacy and Confidentiality</h5>
<p>
    All the data collected as part of this study are anonymous.
    Names of participants are stored separately from the information collected by a neutral third party.
    Your name will not be associated in any way with the information collected about you or how you use the software in
    the study.
    Furthermore, because the interest of this study is to identify average responses and behaviours of the entire group
    of participants, you will not be identified in any way in any written reports of this research.
</p>
<p>
    Participants have a right to access their own results so long as their names and identifiers are still available.
    The data obtained from this study will be retained for at least 5 years in a secured, electronic form which only
    researchers of this study will have access to.
    No audio or video tapes will be used. General results of the research study may be available through publications.
    A summary of the results will be made available to participants upon request.
</p>

<h5>Concerns About Participants' Rights</h5>
<p>
    If you have any concerns or complaints about your rights as a research participant and/or your experience while
    participating in this study, contact the Research Participant Complaint Line in the UBC Office of Research Ethics
    toll free at 1-877-822-8598 or via email at RSIL@ors.ubc.ca, or the UBC Okanagan Research Services Office at
    250-807-8832.
    When reaching out, include the study number H19-02053 so they can better assist you.
</p>

<h5>Access to Submitted Work and Associated Grades</h5>
<p>
    By checking on the appropriate box below, you are indicating whether you will provide consent for our research team
    to use your work to help improve our software.
    The grades we collect will only be used for research analysis purposes and will not include any names or personal
    identifiers.
</p>


<form id="informed_consent_form" url="{% url 'api:user_consent-list' %}">
    <div class="form-group">
        <label for="legal_last_name">Type in your last name:</label>
        <input type="text" id="legal_last_name" class="form-control">
    </div>

    <div class="form-group">
        <label for="legal_first_name">Type in your first name:</label>
        <input type="text" id="legal_first_name" class="form-control">
    </div>

    <div class="form-group">
        <label for="student_number">Type in your student number (this is only needed in case there are students with the
            same first and last name):</label>
        <input type="text" id="student_number" class="form-control">
    </div>

    <div class="form-group">
        <label for="date">Type in today's date:</label>
        <input type="text" id="date" class="form-control">
    </div>
</form>
